<h2>Departments</h2>

<div>
  <label>Department name:
    <input #departmentName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(departmentName.value); departmentName.value=''">
    add
  </button>
</div>

<ul class="departments">
  <li *ngFor="let department of departments">
    <a routerLink="/detail/{{department.id}}">
      <span class="badge">{{department.id}}</span>
      <span class="title">{{department.title}}</span>
    </a>

    <button class="update" title="delete department"
            (click)="update(department)">u</button>

    <button class="delete" title="delete department"
            (click)="delete(department)">x</button>


  </li>

</ul>
