nav {
  margin: 27px auto 0;

  position: relative;
  width: 600px;
  height: 50px;
  background-color: #34495e;
  border-radius: 8px;
  font-size: 0;
}
nav a {
  line-height: 50px;
  height: 100%;
  font-size: 20px;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: white;
  cursor: pointer;
}
nav .animation {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  transition: all .5s ease 0s;
  border-radius: 8px;
}
a:nth-child(1) {
  width: 200px;
}
a:nth-child(2) {
  width: 200px;
}
a:nth-child(3) {
  width: 200px;
}

nav .start-home, a:nth-child(1):hover~.animation {
  width: 200px;
  left: 0;
  background-color: #1abc9c;
}
nav .start-about, a:nth-child(2):hover~.animation {
  width: 200px;
  left: 200px;
  background-color: #e74c3c;
}
nav .start-blog, a:nth-child(3):hover~.animation {
  width: 200px;
  left: 400px;
  background-color: #3498db;
}

body {
  font-size: 12px;
  font-family: sans-serif;
  background: #2c3e50;
}

h1 {
  text-align: center;
  margin: 40px 0 40px;
  text-align: center;
  font-size: 30px;
  color: #ecf0f1;
  text-shadow: 2px 2px 4px #000000;
  font-family: 'Cherry Swash', cursive;
}

/* Application-wide Styles */
/*h1 {*/
/*  color: #369;*/
/*  font-family: Arial, Helvetica, sans-serif;*/
/*  font-size: 250%;*/
/*}*/
/*h2, h3 {*/
/*  color: #444;*/
/*  font-family: Arial, Helvetica, sans-serif;*/
/*  font-weight: lighter;*/
/*}*/
/*body {*/
/*  margin: 2em;*/
/*}*/
/*body, input[type="text"], button {*/
/*  color: #333;*/
/*  font-family: Cambria, Georgia;*/
/*}*/
/*!* everywhere else *!*/
/** {*/
/*  font-family: Arial, Helvetica, sans-serif;*/
/*}*/

