<h1>{{title}}</h1>

<nav >
  <a routerLink="/employees">Employees</a>
  <a routerLink="/departments">Departments</a>
  <a routerLink="/positions">Positions</a>
  <div class="animation start-home"></div>

</nav>
<router-outlet></router-outlet>
<app-messages></app-messages>
